Plug 'easymotion/vim-easymotion'

set relativenumber
set commentary
set number
set ignorecase
set sneak
set surround
set easymotion

let mapleader = " "
let g:EasyMotion_override_acejump = 0

map <nowait> ' : 
map <C-d> <C-d>zz
map <C-u> <C-u>zz
map n nzzv
map N Nzzv
map <leader>p "_dP"

inoremap <C-h> <Left>
inoremap <C-l> <Right>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-b> <ESC>^i
inoremap <C-e> <End>
inoremap jk <ESC>

nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-s> :w <CR>

" quickly move line up or down
nnoremap [e  :<c-u>execute 'move -1-'. v:count1<cr>
nnoremap ]e  :<c-u>execute 'move +'. v:count1<cr>

" quickly add new lines
nnoremap [<space>  :<c-u>put! =repeat(nr2char(10), v:count1)<cr>
nnoremap ]<space>  :<c-u>put =repeat(nr2char(10), v:count1)<cr>

" https://github.com/sdaschner/dotfiles/blob/master/.ideavimrc
set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

" actions
nmap <S-h> <action>(PreviousTab)
nmap <S-l> <action>(NextTab)
nmap <leader>bd <action>(CloseEditor)
" nmap <leader>i <action>(Generate)
" nmap <leader>m <action>(Git.Menu)
" nmap <leader>s <action>(QuickChangeScheme)
" nmap <leader>/ <action>(ShowErrorDescription)
" nmap <leader>e <action>(GotoNextError)
" nnoremap <leader><leader> <C-Tab>
